accelerate==1.14.0
dash==4.4.0
datasets==4.8.4
gradio==5.50.0
gymnasium==1.1.1
matplotlib==3.10.9
numpy==1.26.4
pandas==2.3.3
plotly==6.8.0
psutil==7.2.2
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
stable-baselines3==2.6.0
swanlab==0.8.4
tensorboard==2.21.0
torch==2.10.0
torchvision==0.25.0
tqdm==4.68.3
transformers==5.12.1
wandb==0.28.0
